.page {
    margin-top: 30px;
    height: 100vh;
    width: 100%;
    background-image: url("https://t3.ftcdn.net/jpg/06/84/59/22/360_F_684592278_xAceXmIN3m7d3AKj52NDAOuXaeRvEJVC.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    color: white;
    max-width: 90%;
    width: 300px;
}

.form {
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 1rem;
}

.input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}

.button {
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    background-color: #3f51b5;
    color: white;
    cursor: pointer;
}
.password-container {
    position: relative;
    input {
       width: 94%; 
    }
}
.password-icon {
    right: 6px;
    top: 5px;
    position: absolute;
}
.error {
    color: red;
    opacity: 90%;
    font-size: 17px;
    margin-top: 8px;
    font-weight: bold;
}